@import "../../styles/common/root.scss";

.news-body {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}
