@import "../../styles/common/root.scss";

.champions-name {
  position: relative;
  margin-top: -4rem;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 80px;
  color: $text-color;
  font-weight: 400;
  font-family: $lavishly;
  z-index: 1;

  img {
    width: 22px;
    animation: chevron-ani 1s infinite;
  }

  @keyframes chevron-ani {
    0% {
      transform: translateY(10px);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(10px);
    }
  }
}

.title {
  font-size: 20px;
  color: $primary-color;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-family: $quicksand;
  margin-top: 50px;

  img {
    width: 40px;
    height: 7.5px;
  }

  .right-line {
    transform: rotate(180deg);
  }

  .title-text {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.hrline {
  width: calc(100% - 6rem);
  margin-top: 1.2rem;
}

.introduction {
  font-size: 14px;
  color: $text-color;
  text-align: justify;
  line-height: 26px;
  margin-top: 1.2rem;
  font-family: $quicksand;
  width: calc(100% - 6rem);
}

.see-more-btn {
  width: 194px;
  height: 44px;
  margin-top: 30px;
  font-family: $quicksand;
  color: #fff;
  font-weight: 400;
  background-image: url("../../assets/images/icons/btn-bg.png");
  background-size: cover;
  outline: none;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1240px) {
  .introduction {
    width: calc(100% - 4rem);
  }

  .hrline {
    width: calc(100% - 4rem);
  }
}

@media screen and (max-width: 1024px) {
  .introduction {
    width: calc(100% - 3rem);
  }

  .hrline {
    width: calc(100% - 3rem);
  }
}

@media screen and (max-width: 768px) {
  .champions-name {
    font-size: 70px;

    img {
      width: 20px;
    }
  }

  .title {
    margin-top: 35px;
  }
}

@media screen and (max-width: 576px) {
  .champions-name {
    font-size: 60px;

    img {
      width: 20px;
    }
  }

  .title {
    margin-top: 15px;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 18px;
  }
}

@media screen and (max-width: 375px) {
  .title {
    font-size: 14px;
  }
}
