@import "../../styles/common/root.scss";

// body

.item-body {
  position: relative;
  width: calc(100% - 6rem);
  height: fit-content;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 0.5rem;
  margin: 30px 0 0px 0;
}

.item-list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;

  .item-col-01 {
    height: 100%;
  }
  .item-col-02 {
    height: 100%;
  }
  .item-col-03 {
    height: 100%;
  }
}

@media screen and (max-width: 1240px) {
  .item-body {
    width: calc(100% - 2rem);
    grid-template-columns: 3.2fr 1fr;
    gap: 0.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .item-body {
    width: calc(100% - 4rem);
    display: flex;
    flex-direction: column;

    .item-list {
      margin-top: 30px;
    }
  }
}

@media screen and (max-width: 900px) {
  .item-body {
    width: calc(100% - 3rem);
  }
}

@media screen and (max-width: 768px) {
  .item-body {
    width: calc(100% - 2rem);
  }

  .item-list {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;

    .item-col-01 {
      height: 100%;
    }
    .item-col-02 {
      height: 100%;
    }
  }
}

@media screen and (max-width: 480px) {
  .item-body {
    width: calc(100% - 3rem);
    display: flex;
    flex-direction: column;
  }

  .item-list {
    display: flex;
    flex-direction: column;
  }

  .item-col {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .item-body {
    width: calc(100% - 2rem);
  }
}
